
# VIEW

A view dont save data, only the query

## create the view

    CREATE VIEW employee_hire_years AS
    SELECT id, name, year_hired
    FROM employees;

## use the views

    SELECT id, name
    FROM employee_hire_years;