# 1.  Exectution order VS writing order

## Writing

    SELECT
    FROM
    WHERE
    GROUP BY
    HAVING
    ORDER BY
    LIMIT 

## Execution order 
    FROM
    WHERE
    GROUP BY
    HAVING
    SELECT
    ORDER BY
    LIMIT

# 2. Dealing with non-standard field names

* release year instead of release_year
* Put non-standard field names in double-quotes

        SELECT title, "release year", country
        FROM films
        LIMIT 3:

# 3. Filter

## WHERE

with strings

 use single quote

    WHERE name = 'John'


### Comparison operator

    WHERE date = 1960
    WHERE date > 1960
    WHERE date < 1960
    WHERE date <= 1960
    WHERE date >= 1960
    WHERE date <> 1960

## Multiple criteria

### OR

At least ONE condition :

    SELECT *
    FROM coats
    WHERE color = 'green' OR lenght = 'short'

### AND

all conditions :

    SELECT *
    FROM coats
    WHERE color = 'green' AND lenght = 'short'

### OR and AND 

    SELECT *
    FROM coats
    WHERE (color = 'green' OR color = 'red') 
        AND (lenght = 'short' OR lenght = 'long');

### BETWEEN

It's **INCLUSIVE !** 

    SELECT *
    FROM film
    WHERE release_year 
        BETWEEN 1995 AND 2012;

1995 and 2012 are IN !

### BETWEEN + OR or AND

    SELECT *
    FROM film
    WHERE release_year 
        BETWEEN 1995 AND 2012 AND country = 'UK';


### LIKE 

**%**  : match zero, one, or many characters in the text

    SELECT name
    FROM people
    WHERE name LIKE 'Ev%';

   ==> Eva Dupuis, Eve Dupont


**_**  : match single characters

    SELECT name
    FROM people
    WHERE name LIKE 'Ev_';

    ==> Eva, Eve

### NOT LIKE 

dont match 


### wildcard position

'%r'  ==>   Peter
'_a%'  ==>   Tati

### IN 

or operator in list

    SELECT *
    FROM films
    WHERE title IN ('Matrix','Thor')


### NULL values

* IS NULL  : match all missing

* IS NOT NULL : match all no missing

# 4. Aggregate functions

* COUNT() : nb of value
* MIN() : minimum         A for strings
* MAX() : maximun         Z for strings
* SUM() : total   ONLY on NUMERICAL values
* AVG() : average ONLY on NUMERICAL values

# 5. ROUND()

    ROUND(number_to_round, decimal_places)
    ROUND(number_to_round) : whole number
    using a negative parameter : to round ton decimal, etc ...  
        * ROUND(1125,-1) ==>  1130
        * ROUND(1125,-2) ==> 1100

# 6. Arithmetic

    +
    -
    *
    /

## DIVIDER 

if int / int : result is int

    SELECT ( 4 / 3 )  =>  1     
    SELECT (4.0 / 3.0 ) ==> 1.333333

# 7. ORDER BY

    ORDER BY field ASC (defaut!)   but more readable
    ORDER BY field DESC

    ORDER BY field_one, field_two

# 8. GROUP BY

need an aggregation

sample : 

    SELECT release_year, COUNT(*) AS film_count
    FROM films
    GROUP BY release_year;


## HAVING vs WHERE
WHERE filters individual records while HAVING filters grouped records


    SELECT country, AVG(budget) AS average_budget
    FROM films
    GROUP BY country
    HAVING AVG(budget) > 1000000000 
    ORDER BY average_budget DESC;