# 1. Introducing Inner Joins

## INNER JOIN

INNER JOIN  looks for records in both tables with the same values in the key field

    SELECT c.code AS country_code, c.name, e.year, e.inflation_rate
    FROM countries AS c
    INNER JOIN economies AS e
    ON c.code = e.code;

USING 

    SELECT c.name AS country, l.name AS language, official
    FROM countries AS c
    INNER JOIN languages AS l
    USING(code);

## Relationships

* one-to-many : 1 author, several books
* one-to-one : 1 finger , 1 fingerprint
* many-to-many : language / country

## Multiple joins


    SELECT name, e.year, fertility_rate, unemployment_rate
    FROM countries AS c
    INNER JOIN populations AS p
    ON c.code = p.country_code
    INNER JOIN economies AS e
    USING(code);

## Additionnal condition on join

    SELECT name, e.year, fertility_rate, unemployment_rate
    FROM countries AS c
    INNER JOIN populations AS p ON c.code = p.country_code
    INNER JOIN economies AS e ON c.code = e.code AND e.year = p.year;

## LEFT and RIGHT JOINs

* A LEFT JOIN : will return all records in the left_table, and those records in the right_table that match on the joining field provided.
* LEFT JOIN : keeps all records in left_table, as well as null values for right_val where is no match in right_table.
* RIGHT JOIN : All records are retained from right_table, even when id doesn't find a corresponding match in left_table. 
* RIGHT JOIN : Null values are returned for the left_value field in records that do not find a match.

# 2. Outer Joins, Cross Joins and Self Joins

## FULL JOIN

LEFT JOIN + RIGHT JOIN 

    SELECT 
        c1.name AS country, 
        region, 
        l.name AS language,
        basic_unit, 
        frac_unit
    FROM countries as c1 
    FULL JOIN languages AS l
    USING(code)
    FULL JOIN currencies AS c2
    USING(code)
    WHERE region LIKE 'M%esia';

## CROSS JOIN

create all possible combinations of two tables

TABLE 1 : A, B, C
TABLE 2 : 1,2,3

GIVE 9 RESULTS : A 1   A 2  A3   B1  B2  B3  C1  C2  C3


    SELECT c.name AS country, l.name AS language
    FROM countries AS c        
    CROSS JOIN languages AS l
    WHERE c.code in ('PAK','IND')
        AND l.code in ('PAK','IND');

## Self joins

to do a cross join in the same table.
Better to do add a condition to not have the same result twice.   Sample  a,b,c,  ==> aa, ab, ac, ba, bb, bc, ca, cb, cc     :  Need to sais c1.colums <> c2.colums

    SELECT 
        p1.country_code, 
        p1.size AS size2010, 
        p2.size AS size2015
    FROM populations AS p1
    INNER JOIN populations AS p2
    ON p1.country_code = p2.country_code
    WHERE p1.year = 2010
    -- Filter such that p1.year is always five years before p2.year
        AND p1.year = p2.year - 5;

# 3. Set Theory for SQL Joins

For all set operations, the number of selected columns and their respective data types must be identical


## UNION

UNION operator takes two tables as input, and returns all records from both tables. The diagram shows two tables: left and right, and performing a UNION returns all records in each table. If two records are identical, UNION only returns them once

    SELECT *
    FROM economies2015
    UNION
    SELECT *
    FROM economies2019
    ORDER BY code, year;




## UNION ALL
UNION ALL will include duplicate records


    SELECT *
    FROM economies2015
    UNION ALL
    SELECT *
    FROM economies2019
    ORDER BY code, year;

## INTERSECT

INTERSECT takes two tables as input, and returns only the records that exist in both tables.

    SELECT name
    FROM cities
    INTERSECT
    SELECT name
    FROM countries;

## EXCEPT

EXCEPT retains only records from the left table that are not present in the right table