# Basic Select

All exercices : https://www.hackerrank.com/domains/sql?filters%5Bsubdomains%5D%5B%5D=select

## Select All

    SELECT * 
    FROM CITY;

## Select By ID

    SELECT * 
    FROM CITY 
    WHERE ID=1661;

## Revising the Select Query I

    SELECT * 
    FROM CITY 
    WHERE COUNTRYCODE='USA' AND POPULATION>100000;

## Revising the Select Query II

    SELECT NAME 
    FROM CITY 
    WHERE COUNTRYCODE='USA' AND POPULATION>120000;

## Employee Names

    SELECT name
    FROM Employee
    ORDER by name ASC;

## Employee Salaries

    SELECT name
    FROM Employee
    WHERE salary > 2000
        AND months < 10;

# Japanese Cities' Attributes

    SELECT * 
    FROM CITY 
    WHERE COUNTRYCODE='JPN';

## Higher Than 75 Marks

    SELECT Name
    from STUDENTS
    WHERE Marks > 75
    ORDER BY RIGHT(Name,3),ID ;

# Japanese Cities' Names

    SELECT NAME
    FROM CITY
    WHERE COUNTRYCODE='JPN';

# Weather Observation Station 1

    SELECT CITY, STATE 
    FROM STATION;

# Weather Observation Station 3

    SELECT DISTINCT(CITY)
    FROM STATION
    WHERE MOD(ID, 2) = 0;

# Weather Observation Station 4

    SELECT COUNT(CITY) - COUNT(DISTINCT CITY) 
    FROM STATION;

# Weather Observation Station 5

    SELECT CITY, LENGTH(CITY)
    FROM STATION
    WHERE LENGTH(CITY) = (
        SELECT MIN(LENGTH(CITY))
        FROM STATION
    )
    ORDER BY CITY
    LIMIT 1;

# Weather Observation Station 6

    SELECT DISTINCT CITY
    FROM STATION
    WHERE CITY LIKE 'A%' OR CITY LIKE 'E%' OR CITY LIKE 'I%' OR CITY LIKE 'O%' OR CITY LIKE 'U%';

# Weather Observation Station 7

    SELECT DISTINCT CITY
    FROM STATION
    WHERE CITY LIKE '%a' OR CITY LIKE '%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u';

# Weather Observation Station 8

    SELECT DISTINCT CITY
    FROM STATION
    WHERE (CITY LIKE 'A%' OR CITY LIKE 'E%' OR CITY LIKE 'I%' OR CITY LIKE 'O%' OR CITY LIKE 'U%')
        AND (CITY LIKE '%a' OR CITY LIKE '%e' OR CITY LIKE '%i' OR CITY LIKE '%o' OR CITY LIKE '%u');

# Weather Observation Station 9

    SELECT DISTINCT CITY
    FROM STATION
    WHERE CITY NOT LIKE 'A%'
        AND CITY NOT LIKE 'E%'
        AND CITY NOT LIKE 'I%'
        AND CITY NOT LIKE 'O%'
        AND CITY NOT LIKE 'U%';

# Weather Observation Station 10

    SELECT DISTINCT CITY
    FROM STATION
    WHERE CITY NOT LIKE '%a'
        AND CITY NOT LIKE '%e'
        AND CITY NOT LIKE '%i'
        AND CITY NOT LIKE '%o'
        AND CITY NOT LIKE '%u';

# Weather Observation Station 11

    SELECT DISTINCT CITY
    FROM STATION
    WHERE (CITY NOT LIKE 'A%'
            AND CITY NOT LIKE 'E%'
            AND CITY NOT LIKE 'I%'
            AND CITY NOT LIKE 'O%'
            AND CITY NOT LIKE 'U%')
        OR (CITY NOT LIKE '%a'
            AND CITY NOT LIKE '%e'
            AND CITY NOT LIKE '%i'
            AND CITY NOT LIKE '%o'
            AND CITY NOT LIKE '%u');

# Weather Observation Station 12

    SELECT DISTINCT CITY
    FROM STATION
    WHERE CITY NOT LIKE '%a'
        AND CITY NOT LIKE '%e'
        AND CITY NOT LIKE '%i'
        AND CITY NOT LIKE '%o'
        AND CITY NOT LIKE '%u'
        AND CITY NOT LIKE 'A%'
        AND CITY NOT LIKE 'E%'
        AND CITY NOT LIKE 'I%'
        AND CITY NOT LIKE 'O%'
        AND CITY NOT LIKE 'U%';