## Revising the Select Query I

    SELECT * 
    FROM CITY 
    WHERE COUNTRYCODE='USA' AND POPULATION>100000;

## Revising the Select Query II

    SELECT NAME 
    FROM CITY 
    WHERE COUNTRYCODE='USA' AND POPULATION>120000;