# Aggregation

https://www.hackerrank.com/domains/sql?filters%5Bsubdomains%5D%5B%5D=aggregation

**Tips :**

    ROUND(colums, level)
    FLOOR()  = rounded down to int!
    CEILING() = rounded up to int !
    REPLACE(string, from_string, new_string)

## Revising Aggregations - The Count Function

    SELECT COUNT(ID)
    FROM CITY
    WHERE POPULATION > 100000;

## Revising Aggregations - The Sum Function

    SELECT SUM(POPULATION)
    FROM CITY
    WHERE DISTRICT LIKE 'California';

## Revising Aggregations - Averages

    SELECT AVG(POPULATION)
    FROM CITY
    WHERE DISTRICT LIKE 'California';

## Average Population

    SELECT FLOOR(AVG(POPULATION))
    FROM CITY;

## Japan Population

    SELECT SUM(POPULATION)
    FROM CITY
    WHERE COUNTRYCODE LIKE 'JPN';

## Population Density Difference

    SELECT MAX(POPULATION) - MIN(POPULATION)
    FROM CITY;

## Top Earners

    SELECT MAX(salary * months), COUNT(employee_id)
    FROM Employee
    WHERE salary * months = (
        SELECT MAX(salary * months)
        FROM Employee
    );

## The Blunder

    SELECT CEILING(AVG(salary)-AVG(REPLACE(salary, 0, '')))
    FROM EMPLOYEES

## Weather Observation Station 2

    SELECT ROUND(SUM(LAT_N),2),ROUND(SUM(LONG_W),2)
    FROM STATION;

## Weather Observation Station 13

    SELECT ROUND(SUM(LAT_N),4)
    FROM STATION
    WHERE LAT_N BETWEEN 38.7888 AND 137.2345;

## Weather Observation Station 14

    SELECT ROUND(MAX(LAT_N),4)
    FROM STATION
    WHERE LAT_N < 137.2345;

## Weather Observation Station 15

    SELECT ROUND((LONG_W),4)
    FROM STATION
    WHERE LAT_N = (
        SELECT MAX(LAT_N)
        FROM STATION
        WHERE LAT_N < 137.2335
    );

## Weather Observation Station 16

    SELECT ROUND(MIN(LAT_N),4)
    FROM STATION
    WHERE LAT_N > 38.7780;

## Weather Observation Station 17

    SELECT ROUND(LONG_W,4)
    FROM STATION
    WHERE LAT_N = (
        SELECT MIN(LAT_N)
        FROM STATION
        WHERE LAT_N > 38.7780
    );