# Basic Join

https://www.hackerrank.com/domains/sql?filters%5Bsubdomains%5D%5B%5D=join

## African Cities

    SELECT CITY.NAME
    FROM CITY
    JOIN COUNTRY ON CITY.COUNTRYCODE = COUNTRY.CODE 
    WHERE COUNTRY.CONTINENT LIKE 'Africa';

## Average Population of Each Continent

    SELECT COUNTRY.Continent, FLOOR(AVG(CITY.Population))
    FROM COUNTRY
    JOIN CITY ON COUNTRY.Code = CITY.CountryCode
    GROUP BY COUNTRY.Continent;

## Population Census 

    SELECT SUM(CITY.Population)
    FROM CITY
    JOIN COUNTRY ON CITY.CountryCode = COUNTRY.Code
    WHERE COUNTRY.Continent LIKE 'Asia';

## The Report

    SELECT
        CASE 
            WHEN grades.grade < 8 THEN NULL
            ELSE students.name END,
        grades.grade,
        students.marks
    FROM students
    JOIN grades ON students.marks BETWEEN grades.min_mark AND grades.max_mark
    ORDER BY grades.grade DESC, students.name;

## Top Competitors


    SELECT H.hacker_id, H.name
    FROM Hackers AS H 
    JOIN Submissions AS S ON H.hacker_id = S.hacker_id 
    JOIN Challenges AS C ON S.challenge_id = C.challenge_id 
    JOIN Difficulty AS D ON C.difficulty_level = D.difficulty_level 
    WHERE S.score = D.score 
    GROUP BY H.hacker_id, H.name 
    HAVING COUNT(DISTINCT S.challenge_id) > 1 
    ORDER BY COUNT(DISTINCT S.challenge_id) DESC, H.hacker_id ASC;

## Ollivander's Inventory

    SELECT w.id, p.age, w.coins_needed, w.power 
    FROM wands AS w 
    JOIN wands_property AS p ON w.code=p.code 
    WHERE p.is_evil=0 AND w.coins_needed=( 
        SELECT MIN(wa.coins_needed) 
        FROM wands AS wa 
        JOIN wands_property AS wp ON wa.code=wp.code 
        WHERE wa.power=w.power AND wp.age=p.age
        ) 
    ORDER BY w.power DESC, p.age DESC;